core/src/test/java/xml/Test.xsd

<?xml version="1.0" encoding="UTF-8"?>


<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" 
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns="http://www.jdal.org/test"
	targetNamespace="http://www.jdal.org/test">
	
	<xs:element name="test" type="Test"/>
	
	<xs:complexType name="Test">
		<xs:sequence>
			<xs:element name="name" type="xs:string"/>
			<xs:element name="surname" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	
</xs:schema>