core/src/main/java/info/joseluismartin/beans/jdal-core.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.jdal.org/schema/jdal"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://www.jdal.org/schema/jdal"
    elementFormDefault="qualified"
    attributeFormDefault="unqualified">


   <xsd:element name="service" type="serviceType" />
      

	<xsd:complexType name="serviceType">
    	<xsd:attribute name="name" type="xsd:string" />
        <xsd:attribute name="entity" type="xsd:string" />
    </xsd:complexType>

</xsd:schema>